.tasktracker > .filter {
  height: $filter-height;
  background-color: $filter-bg;

  > div {
    padding: $filter-padding;
  }

  .options {
    display: inline-block;
  }

  .create {
    float: right;
  }
}
