.tasktracker > .filter {
  height: $filter-height;
  background-color: $filter-bg;

  > div {
    padding: $filter-padding;
  }

  .create {
    float: right;
  }

  .options {
    display: inline-block;

    .title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    select {
      border: 0;
      border-radius: 4px;
      color: $blue;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      outline: none;
      padding: 3px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:hover {
        background: $light-blue;
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      select {
        padding-right:18px
      }
    }

    label {
      position: relative;
    }

    label:after {
      position: absolute;
      right: 8px;
      top:2px;

      color:$blue;
      content: '>';
      font: 11px "Consolas", monospace;
      padding: 0 0 2px;
      pointer-events: none;

      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    label:before {
      position: absolute;
      top: 0;
      right: 6px;
      
      content:'';
      display:block;
      height: 20px;
      pointer-events:none;
      width: 20px;
    }
  }
}
