.tasktracker > .filter {
  background-color: $filter-bg;

  > div {
    padding: $filter-padding;
  }

  .create {
    float: right;
  }

  .tasks-btn-create {
    background-color: $light-blue;
    border: 1px solid darken($light-blue, 5%);
    border-radius: 3px;
    color: $dark-blue;
    font-weight: bold;
    padding: 7px 10px;
    transition: background-color .3s ease-in-out,
                border-color .3s ease-in-out;
    &:hover {
      border-color: darken($light-blue, 10%);
      background-color: darken($light-blue, 10%);
      text-decoration: none;
    }

    &:active {
      border-color: darken($light-blue, 15%);
      background-color: darken($light-blue, 15%);
    }

    i {
      margin-right: 10px;
    }
  }

  .options {
    display: inline-block;
    padding: 5px 10px;

    .title {
      color: #39526d;
      display: block;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 6px;

      &:not(:empty) {
        border-bottom: 1px solid #f0f0f0;
      }
    }

    .hint {
      color: #777;
      font-size: 0.8em;
      margin-right: 6px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    select {
      background-color: $light-blue;
      border: 1px solid darken($light-blue, 5%);
      border-radius: 3px;
      color: $dark-blue;
      cursor: pointer;
      display: inline-block;
      margin: 0;
      outline: none;
      padding: 3px;

      &:hover {
        border-color: darken($light-blue, 10%);
        background-color: darken($light-blue, 10%);
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      select {
        padding-right:18px
      }
    }

    label {
      position: relative;
    }
  }
}
