$global-radius: 3px;

$editor-padding: 12px;
$editor-width: 400px;

$filter-padding: 12px;
$filter-bg: #fefefe;
$filter-height: 50px;

$input-padding: 6px;
$input-inactive-bg: #f0f0f0;
$input-inactive-border-color: $input-inactive-bg;
$input-inactive-color: #222;

$label-color: #ccc;
$label-font-size: 10px;
$label-font-weight: bold;
$label-text-transform: uppercase;

$task-min-height: 60px;

$blue: #236aa2;
$light-blue: #f2f5f7;
$grey: #bebebe;
$white: #ffffff;
$prioritized: #f40;
