.tasktracker > .tasks {
  position: relative;
  left: 0;
  width: 100%;
  transition: right 0.4s ease-in-out;

  > div {
    height: inherit;
    padding: 6px;
  }

  .task {
    background-color: $white;
    border-left: 5px solid transparent;
    border-radius: $global-radius;
    transition: opacity 0.3s ease-in-out,
                background-color 0.2s ease-in-out;
    min-height: $task-min-height;

    @include flex-container($direction: column);
    align-items: stretch;
    padding: 0 3px;

    &.prioritized-Yes {
      border-left-color: $prioritized;
    }

    &.selected,
    &:hover {
      background-color: $hover-bg;
    }

    &:nth-child(odd) {
      background-color: $light-blue;

      &.selected,
      &:hover {
        background-color: $hover-bg;
      }

      .assigned,
      .attachcount,
      .due {
        div {
          background-color: $white !important;
        }
      }
    }

    > .task-wrapper:hover .btn-edit,
    > .task-wrapper:hover .btn-expander {
      opacity: 1;
      pointer-events: auto;
    }

    > .task-data { display: none; }
    > .task-fullview {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      margin-left: 40px;
      margin-right: 40px;
    }

    .task-changeset {
      margin-top: 30px;
      > .task-changeset-header {
        > .task-changeset-id {
          float: right;
        }
        font-weight: bold;
        border-bottom: dotted 1px #88a;
      }
      del { color: #c00; }
      ins { color: #080; }
    }

    &.expanded {
      .content > .description {
        opacity: 0;
      }
      > .task-fullview {
        max-height: 800px;
        opacity: 1;
        overflow: auto;
        white-space: normal;
      }
      .btn-expander {
        background-image: url('../assets/sub.png');
        opacity: 1;
      }
    }
  }
}

.task-wrapper {
  @include flex-container();
  align-items: stretch;
  padding: 5px 3px 0 3px;

  > .btn-expander {
    @include flex($shrink: 0, $align: stretch);

    background-color: $white;
    border-radius: $global-radius;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url('../assets/add.png');
    cursor: pointer;

    margin-right: 3px;
    margin-left: -3px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    width: 32px;
    max-height: 50px;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $blue;
    }

  }

  > .btn-edit {
    @include flex($shrink: 0, $align: stretch);

    background-color: $white;
    border-radius: $global-radius;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url('../assets/edit-blue.png');
    cursor: pointer;

    margin-left: 6px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    width: 32px;
    max-height: 50px;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $blue;
      background-image: url('../assets/edit-white.png');
    }
  }

  > .content {
    @include flex-container($wrap: wrap, $justify: space-between);
    @include flex($grow: 2, $align: center);

    &.deleted, {
      text-decoration: line-through;
    }

    &.milestone-1 {
      color: maroon;
    }

    &.closed {
      > div.caption,
      > div.description {
        text-decoration: line-through;
      }
    }

    > div {
      padding: 3px;
      font-size: 13px;
      @include flex($grow: 1, $basis: 0);

      > div {
        display: inline-block;
      }

      &.attachcount {
        @include flex($basis: main-size, $grow: 0);
        flex-shrink: 1;
        max-width: 50px;

        div {
          background-color: $light-blue;
          background-image: url('../assets/file.png');
          background-position: 6px center;
          background-repeat: no-repeat;
          background-size: 12px;
          border-radius: $global-radius;
          color: $blue;
          padding: 0 6px 0 25px;
        }
      }

      &.assigned div {
        background-color: $light-blue;
        background-image: url('../assets/user.png');
        background-position: 6px center;
        background-repeat: no-repeat;
        background-size: 12px;
        border-radius: $global-radius;
        color: $blue;
        padding: 0 6px 0 25px;
      }

      &.due div {
        background-color: $light-blue;
        background-image: url('../assets/clock-blue.png');
        background-position: 6px center;
        background-repeat: no-repeat;
        background-size: 12px;
        border-radius: $global-radius;
        color: $blue;
        padding: 0 6px 0 25px;
      }

      &.caption {
        @include flex($order: -1, $grow: 2);
        width: 100%;

        > .title {
          font-size: 14px;
          font-weight: bold;
        }

        > .created {
          color: #777;
          font-size: 12px;
          margin-left: 12px;
        }
      }

      &.description {
        @include flex($grow: 2);

        height: auto;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        max-height: 25px;
        min-width: 50%;
        max-width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.task-attachments {
  height: 0;
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;

  table {
    width: 100%;
    margin-bottom: 10px;

    th {
      background-color: $blue;
      color: $white;
    }
  }
}

.task.expanded .task-attachments {
  height: auto;
  max-height: 1000px;
}

.task-children {
  height: 0;
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;

  margin-left: 25px;

  > .task-children-summary {
    height: $filter-height;
    line-height: $filter-height;
    > .add {
      float: right;
    }
  }
}

.task.children-expanded > .task-children {
  height: auto;
  max-height: 1000000px;
}

