.tasktracker > .tasks {
  position: relative;
  left: 0;
  width: 100%;
  transition: right 0.4s ease-in-out;

  > div {
    height: inherit;
    padding: 6px;
  }

  .task {
    @include flex-container($direction: column);

    align-items: stretch;
    // background-color: $white;
    background-color: $light-blue;
    border: 1px solid $light-blue;
    border-radius: $global-radius;
    margin-bottom: 3px;
    min-height: $task-min-height;
    padding: 0 3px;
    transition: opacity .3s ease-in-out,
                background-color .2s ease-in-out;

    &.prioritized-Yes {
      border-left-color: $prioritized;
      border-left-width: 5px;
    }

    &.selected,
    &:hover {
      background-color: $hover-bg;
    }

    > .task-wrapper:hover .btn-edit,
    > .task-wrapper:hover .btn-expander {
      opacity: 1;
      pointer-events: auto;
    }

    > .task-data { display: none; }
    > .task-fullview {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      margin-left: 40px;
      margin-right: 40px;
    }

    .task-changeset {
      margin-top: 30px;
      > .task-changeset-header {
        > .task-changeset-id {
          float: right;
        }
        font-weight: bold;
        border-bottom: dotted 1px #88a;
      }

      del { color: #c00; }
      ins { color: #080; }
    }

    &.expanded {
      .content > .description {
        opacity: 0;
      }

      > .task-fullview {
        max-height: 800px;
        opacity: 1;
        overflow: auto;
        white-space: normal;
      }

      .btn-expander {
        background-image: url('../assets/sub.png');
        opacity: 1;
      }

      .btn-edit {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.task-wrapper {
  @include flex-container();
  align-items: stretch;
  padding: 5px 3px 0 3px;

  > .btn-expander {
    @include flex($shrink: 0, $align: stretch);

    background-color: transparent;
    border-radius: $global-radius;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url('../assets/add.png');
    cursor: pointer;

    margin-right: 3px;
    margin-left: -3px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    width: 32px;
    max-height: 50px;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $blue;
      background-image: url('../assets/add-white.png');
    }

  }

  > .btn-edit {
    @include flex($shrink: 0, $align: stretch);

    background-color: transparent;
    border-radius: $global-radius;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url('../assets/edit-blue.png');
    cursor: pointer;

    margin-left: 6px;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
    width: 32px;
    max-height: 50px;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $blue;
      background-image: url('../assets/edit-white.png');
    }
  }
}

.task-content {
  @include flex-container($wrap: wrap, $justify: space-between);
  @include flex($grow: 2, $align: center);
  align-items: center;
  transition: background-color .3s ease-in-out;

  &.deleted, {
    text-decoration: line-through;
  }

  &.closed {
    > .description {
      text-decoration: line-through;
    }
  }

  > div {
    @include flex($grow: 1, $basis: 0);
    font-size: 13px;
    padding: 3px;

    span {
      display: block;
      text-align: left;
    }

    &.ampel {
      @include flex($grow: 0);
      flex-shrink: 1;
      min-width: 56px;

      span {
        text-align: center;
      }
    }

    &.assigned {
      @include flex($grow: 0);
      flex-shrink: 1;
      min-width: 120px;
    }

    &.attachcount {
      @include flex($grow: 0);
      flex-shrink: 1;
      min-width: 61px;

      span {
        text-align: center;
      }
    }

    &.created {
      @include flex($grow: 0);
      flex-shrink: 1;
      min-width: 100px;
      color: #777;
      font-size: 11px;
    }

    &.description {
      @include flex($grow: 2);

      height: auto;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      min-width: 25%;
      max-width: 50%;
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .title {
        font-size: 14px;
        font-weight: bold;
      }
    }

    &.due {
      max-width: 100px;
    }

    &.type {
      @include flex($grow: 0);
      flex-shrink: 1;
      min-width: 90px;
    }
  }
}

.task-attachments {
  height: 0;
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;

  table {
    width: 100%;
    margin-bottom: 10px;

    th {
      background-color: $blue;
      color: $white;
    }
  }
}

.task.expanded .task-attachments {
  height: auto;
  max-height: 1000px;
}

.task.expanded .task-content {
  border-radius: 6px;
}

.task-children {
  height: 0;
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;

  margin-left: 25px;

  > .task-children-summary {
    height: $filter-height;
    line-height: $filter-height;
    > .add {
      float: right;
    }
  }
}

.task.children-expanded > .task-children {
  height: auto;
  max-height: 1000000px;
}

