.task-fullview {
  position: relative;
  height: 100%;
  width: 100%;

  > .viewer {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;

    overflow-x: auto;
    overflow-y: scroll;
    // padding: 15px;
  }

  > .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #f3f3f3;

    > div {
      padding: 10px;

      &.active {
        display: block;
      }

      &.hidden {
        display: none;
      }
    }
  }

  > .comment {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    height: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #aaa;
    transition: height .3s ease-in-out;

    &.active {
      height: 250px;
    }

    > div {
      padding: 6px;

      > label {
        display: block;
        font-weight: bold;
        width: 100%;

        > textarea {
          display: block;
          margin-top: 6px;
          width: calc(100% - 18px);
        }
      }
    }
  }

  > .upload {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    height: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #aaa;
    transition: height .3s ease-in-out;

    &.active {
      height: 250px;
    }

    > div {
      padding: 6px;
    }
  }
}

#viewerHead {
    margin-bottom: 20px;
    background-color: #39526D;
    color: #fff;
    & table {
        border-spacing: 0px !important;
        & td {
            background-color: #39526D !important;
            padding: 3% 2% !important;
            &#HeadControls {
                width: 2% !important;
                text-align: center;
                background-color: lighten(#39526D, 10%) !important;
                border-left: 3px solid #628DBD;
                & .tasks-btn-close {
                    margin-right: 0px;
                }
            }
        }
    }
    &.prioritized-Yes {
        border-left: 7px solid #F10909;
    }
}


#titleBox {
  width: 80%;
    padding: 18px 2%;
    padding-right: 3%;
}

#titleBox .label{
  margin-bottom:5px;
  padding-top:.4em;
  display:inline-block;
}



#HeadControls .tasks-btn-close {
  background-image: none !important;
  float:none !important;
  background:none !important;
  border:none !important;
  padding: 0px !important;
}

#HeadControls i {
    color: darken($light-blue, 25%);
    transition: color 0.5s ease;
    font-size: 2.5em;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &.closed {
      color: #6CCE86;
      cursor: default;

      &:hover{
        color: #fff;
      }
    }
}

#viewerHead .title {
      text-transform: uppercase;
    color: grey;
    font-size: 0.8em;
}

#title {
      margin-top: 5px;
    display: block;
    font-size: 16pt;
}

#more-changeset {
  display: block;
  text-align: center;
  margin-top:10px;
  color: grey;
  text-decoration: none;
}
#more-changeset:hover {
  text-decoration: underline;
}

.viewer .jqTabGroup a{
   text-transform: uppercase;
    color: grey !important;
    font-size: 0.8em;
    padding: 10px 15px !important;
}

.task_details {
  
  padding-bottom: 20px;
& td{
  background-color:#fff !important;
  width:100% !important;
  min-width:none !important;
  max-width:none !important;
  padding-bottom:12px !important;

  & span.title{
    margin:0px !important;
    margin-bottom:3px !important;
  }
  & span {
    font-size:1.2em;
  }
}
}

.task_details td.icon_column {
  width:20px !important;

  & i {
    color:grey;
    font-size: 1.5em;
  }
}


#task_detail_box{
  float:left;
  width: 25%;
} 

#task_desc_box{
  float:right;
  width: 68%;

  & .readmore_link{
        margin-top: 10px;
    margin-bottom: 20px;
    color: #578DCA;
  }
  & p{
    margin-top:7px;
    color: grey;
  padding-bottom: 20px;
  text-align:justify;
  }
}

.border_bottom_box{
  border-bottom: 3px solid #eee;
  margin-bottom:20px;
  padding-left:2%;
  padding-right:3%;
}

div.task-attachments {
 padding:3%;
 & table th{
  color:#000 !important;
}
}

div.viewer .jqTab{
  border: 0px !important;
}

div.viewer .jqTabGroup {

  border-left: 0px;

  & li {
    margin: 0px !important;
  }

  & a {
    border-bottom: none !important;
        border: none !important;
        background-color:#fff;
  }

  & .current a{
        color: #fff !important;
        border-bottom: none !important;
        border: none !important;
        background: #39526D !important;
        text-shadow: none !important;
  }
}

.viewer .jqTabContents {
  padding: 0px !important;
}
.viewer .changes {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20px;
}

#task-panel .task-changeset ins {
    color: #578DCA !important;
}

#task-panel .task-changeset del {
    color: #868686 !important;
}

.task-fullview {
  & .comment.active, .upload.active{
    padding: 1%;
  }

  & .upload.active {
    height: 150px;
    &>div{
      padding: 18px;
    }
  }
}

.tasks-btn.tasks-btn-save, .tasks-btn.tasks-btn-save-comment {
    background-color: #78C5FF !important;
    background-image: url('../assets/check.png');
    border: 1px solid #F3F3F3;
    color: #fff;
    margin-right: 15px;
    transition: background-color 0.5s ease;
}

.tasks-btn.tasks-btn-save:hover, .tasks-btn.tasks-btn-save-comment:hover {
    background-color: darken(#78C5FF, 25%) !important;
    
}

.task-fullview div.qw-dnd-upload.full-width {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    height: 125px;
    border-radius: 8px;

    & .hint {
      padding-top: 35px;
    }
}