%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"Task not found"}% %TMPL:END%
%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Task not found"}%%TMPL:END%
%TMPL:DEF{"topicactionbuttons"}% [[%WEB%.%TOPIC%][%MAKETEXT{"OK"}%]] %TMPL:END%
%TMPL:DEF{"message"}%

%IF{"'%URLPARAM{"param1"}%'" then="%MAKETEXT{"The link you clicked seems to be invalid."}%" else="%MAKETEXT{"The link you clicked is no longer available."}%"}%

%TMPL:END%
